<div class="invoicePanel">
<app-invoice-header></app-invoice-header>

  @for (card of invoice(); track card.id){
    <button class="invoiceCard" (click)="viewInvoice(card)">
      <div class="invoiceId">
        <app-head-line
          [variant]="'h3'"
          [text]="'#'"
          [color]="'--tertiary'"
        ></app-head-line>
        <app-head-line
          [variant]="'h3'"
          [text]="card.id"
          [color]="' --card-title-color'"
        ></app-head-line>
      </div>

      <div class="invoicePaymentDue">
        <app-text
          [variant]="'body1'"
          [text]="card.paymentDue"
          [color]="'--grey-color-dark'"
        ></app-text>
      </div>

      <div class="invoiceClientName">
        <app-text
          [variant]="'body1'"
          [text]="card.clientName"
          [color]="'--card-client-color'"
        ></app-text>
      </div>

      <div class="invoicePrice">
        <app-head-line
          [variant]="'h3'"
          [text]="''+ card.total"
          [color]="'--card-amount-color'"
        ></app-head-line>

      </div>




      <div class="invoiceStatus">
        <app-badge [status]="card.status"></app-badge>
        <div class="invoiceStatusIcon">
          <app-icon name="icon-arrow-right" alt="Arrow pointing right"></app-icon>
        </div>
      </div>
    </button>
    <button class="invoiceCardMobile" (click)="viewInvoice(card)">
      <div class="cardTop">
        <div class="invoiceId">
          <app-head-line
            [variant]="'h3'"
            [text]="'#'"
            [color]="'--tertiary'"
          ></app-head-line>
          <app-head-line
            [variant]="'h3'"
            [text]="card.id"
            [color]="' --card-title-color'"
          ></app-head-line>
        </div>
        <div class="invoiceClientName">
          <app-text
            [variant]="'body1'"
            [text]="card.clientName"
            [color]="'--card-client-color'"
          ></app-text>
        </div>
      </div>
      <div class="cardDown">
        <div class="cardLeft">
          <div class="invoicePaymentDue">
            <app-text
              [variant]="'body1'"
              [text]="card.paymentDue"
              [color]="'--grey-color-dark'"
            ></app-text>
          </div>
          <div class="invoicePrice">
            <app-head-line
              [variant]="'h3'"
              [text]="''+ card.total"
              [color]="'--card-amount-color'"
            ></app-head-line>

          </div>

        </div>
        <div class="cardRight">
          <div class="invoiceStatus">
            <app-badge [status]="card.status"></app-badge>

          </div>
        </div>

      </div>
    </button>
  } @empty {
    <div class="noInvoicePanel">
      <div class="noInvoiceContent">
        <div class="top">
          <app-icon name="illustration-empty"></app-icon></div>

        <div class="down">
          <app-head-line [variant]="'h2'" [text]="'There is nothing here'" [color]="'--text-invoice'"></app-head-line>
          <div class="downText">
            <app-text variant="body1" [text]="'  Create an invoice by clicking the '" class="toptext" [color]="'   --no-invoice-text'"></app-text>
            <app-text variant="body1" [text]="'  New Invoice button and get started'" class="toptexts" [color]="'   --no-invoice-text'"></app-text>


          </div>
        </div>
      </div>
    </div>
  }

</div>
