<div class="invoiceHeader">
  <div class="invoiceHeaderLeft">
    <div class="invoiceTitle">
      <app-head-line [variant]="'h1'" [text]="'Invoices'" [color]="'--text-primary'" class="desktop"></app-head-line>
      <app-head-line [variant]="'h3'" [text]="'Invoices'" [color]="'--text-primary'" class="mobile"></app-head-line>
    </div>
    <div class="invoiceCount">
      <app-data-length></app-data-length>
    </div>
  </div>
  <div class="invoiceHeaderRight">
    <div class="invoiceFilter">
      <app-filter (filterChange)="onFilterChange($event)"></app-filter>
    </div>
    <div class="newInvoice">
      <app-button variant="new-invoice" class="desk" (onClick)="openCreateSlider()">New Invoice</app-button>
      <app-button variant="new-invoice" class="mob" (onClick)="openNewInvoice.emit()">New</app-button>
    </div>

  </div>

</div>
<app-slider [isVisible]="isSliderVisible" (closed)="closeSlider()">
  <app-form
    [formType]="isEditMode ? 'editInvoice' : 'newInvoice'"
    [invoice]="selectedInvoice"
    (formSubmit)="onFormSubmit($event)"
    (formCancel)="closeSlider()"
  ></app-form>
</app-slider>
