<div class="dropdown-container relative">
  <button
    (click)="toggleDropdown()"
    class="dropdown-button p-2 border rounded flex items-center gap-2">
    <app-head-line [variant]="'h3'" [text]="'Filter by status'" [color]="'--text-filter'" class="desktop"></app-head-line>
    <app-head-line [variant]="'h3'" [text]="'Filter'" [color]="'--text-filter'" class="mob"></app-head-line>

    <div>
      <app-icon [name]="isDropdownOpen ? 'icon-arrow-up' : 'icon-arrow-down'"></app-icon>
    </div>
  </button>

  <!-- The dropdown content -->
  @if (isDropdownOpen) {
    <div class="dropdown-content absolute mt-1 border rounded bg-white p-2 w-full">
      @for (status of statuses; track status.label; let i = $index) {
        <div class="py-1">
          <label class="checkbox-label">
            <input
              type="checkbox"
              [checked]="status.checked"
              (change)="onStatusChange(status)"
              class="h-4 w-4 checkbox-input">
            <app-head-line
              [variant]="'h3'"
              [color]="'--base-black'"
              [text]="status.label">
            </app-head-line>
          </label>
        </div>
      }
    </div>
  }
</div>
