<div class="headerContainer">
  <div class="leftHeader">
    <div class="headerLogo">
      <img *ngIf="selectedButton?.icon" [src]="selectedButton?.icon" alt="Selected Button Icon">
    </div>
    <p class="headerTitle" [class.hidden]="!isButtonClicked">{{ selectedButton?.title }}</p>
  </div>

  <div class="rightHeader">
    <div class="toggle-main">
      <div class="light">
        <img [src]="isDarkMode ? 'assets/images/night-dark.svg' : 'assets/images/night.svg'" alt="Night Icon">
      </div>

      <div class="header-toggle">
        <input
          type="checkbox"
          (change)="toggleDarkMode()"
          id="darkModeToggle"
          class="toggle-checkbox"
        />
        <label for="darkModeToggle" class="toggle-label">
          <span class="toggle-inner"></span>
          <span class="toggle-switch"></span>
        </label>
      </div>
      <div class="moon">
        <img [src]="isDarkMode ? 'assets/images/lightIcon-dark.svg' : 'assets/images/lightIcon.svg'" alt="Moon Icon">
      </div>
    </div>
  </div>
</div>
