<div class="headerContainer">
  <div class="leftHeader" *ngIf="selectedButton">
    <div class="headerLogo">
      <img *ngIf="selectedButton?.icon" [src]="selectedButton?.icon" alt="Selected Button Icon">
    </div>
    <p class="headerTitle" >{{ selectedButton?.title }}</p>
  </div>
  <div class="rightHeader">
    <div class="toggle-main">
      <div class="light">
        <img src="assets/images/night.svg">
      </div>
      <div class="header-toggle">
        <input
          type="checkbox"
          (change)="toggleDarkMode()"
          id="darkModeToggle"
          class="toggle-checkbox"
        />
        <label for="darkModeToggle" class="toggle-label">
          <span class="toggle-inner"></span>
          <span class="toggle-switch"></span>
        </label>
      </div>
      <div class="moon">
        <img src="assets/images/lightIcon.svg">
      </div>
    </div>
  </div>
</div>
