<div class="questionPanel">
    <div class="questionPanelLeft">
        <div class="questionsDisplay">
            <div class="question">
                <div class="questionLeft">Question 6 of 10</div>
                <div class="questionDetail">
                    Which of these color contrast ratios defines the minimum WCAG 2.1 Level AA requirement for normal text?
                </div>
            </div>
            <div class="signal"></div>
        </div>
    </div>
    <div class="questionPanelRight">

    </div>

</div>
