<div class="noInvoicePanel">
  <div class="noInvoiceContent">
    <div class="top">
      <app-icon name="illustration-empty"></app-icon></div>

    <div class="down">
      <app-head-line [variant]="'h2'" [text]="'There is nothing here'" [color]="'--text-invoice'"></app-head-line>
      <div class="downText">
        <app-text variant="body1" [text]="'  Create an invoice by clicking the '" class="toptext" [color]="' --tertiary'"></app-text>
        <app-text variant="body1" [text]="'  New Invoice button and get started'" class="toptexts" [color]="' --tertiary'"></app-text>


      </div>
    </div>
  </div>
</div>
