@media (max-width: 600px) {

  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &.new-invoice {
      background-color: #4CAF50;
      color: white;
    }

    &.delete {
      background-color: #f44336;
      color: white;
    }

    &.edit {
      background-color: #2196F3;
      color: white;
    }

    &.marked-as-paid {
      background-color: #FFC107;
      color: white;
    }

    &.save-as-draft {
      background-color: #9E9E9E;
      color: white;
    }

    &.add-new-item {
      background-color: #3F51B5;
      color: white;
    }
  }
}
@media (min-width: 600px) and (max-width: 960px) {
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &.new-invoice {
      background-color: #4CAF50;
      color: white;
    }

    &.delete {
      background-color: #f44336;
      color: white;
    }

    &.edit {
      background-color: #2196F3;
      color: white;
    }

    &.marked-as-paid {
      background-color: #FFC107;
      color: white;
    }

    &.save-as-draft {
      background-color: #9E9E9E;
      color: white;
    }

    &.add-new-item {
      background-color: #3F51B5;
      color: white;
    }
    }
}

@media (min-width: 960px) {
  .button {
    font-family: 'League Spartan', sans-serif;
    padding: 10px 12px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;

    &.new-invoice {
      width: 150px;
      height: 48px;
      background-color: var(--primary-color);
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color:var(--primary-color-light);
      }
    }

    .button-icon {
      width: 10px;
      height: 10px;
    }

    .buttonIconPanel {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      background-color: var(--light-BG);
      border-radius: 50%;
    }

    &.delete {
      background-color: var(--error-color);
      color: var(--light-BG);
      height: 48px;
      width: 89px;

      &:hover {
        background-color:#FF9797;
      }
    }

    &.edit {
      height: 48px;
      width: 73px;
      background-color: #F9FAFE;
      color: var(--tertiary);

      &:hover {
        background-color: #DFE3FA;
      }
    }

    &.marked-as-paid {
      background-color: #FFC107;
      color: white;

      &:hover {
        background-color: #FFC107;
        transform: scale(1.05);
      }
    }

    &.save-as-draft {
      background-color: #9E9E9E;
      color: white;

      &:hover {
        background-color: #9E9E9E;
      }
    }

    &.add-new-item {
      background-color: #3F51B5;
      color: white;

      &:hover {
        background-color: #3F51B5;
      }
    }
  }}
