
@media (max-width: 600px) {
}

@media (min-width: 600px) and (max-width: 960px) {

}

@media (min-width: 960px)  {
  .invoicePanel{
    width: 672px;
    height: auto;
  }
  .invoiceCard{
    width: 100%;
    height: 72px;
    display: flex;
    /*background-color: blueviolet;*/
    align-items: center;
    justify-content: space-between;
  }
  .invoicePrice .headline {
     color: #ff0000; /* Replace with your desired color */
   }

}
