<div class="invoicePanel">
  <div class="invoiceCard">
    <div class="invoiceId"><app-head-line [variant]="'h3'" [text]="'#RT3080'"></app-head-line></div>
    <div class="invoicePaymentDue"> <app-text [variant]="'body1'" [text]="'Due  19 Aug 2021'"></app-text></div>
    <div class="invoiceClientName"> <app-text [variant]="'body1'" [text]="'Jensen Huang'"></app-text></div>
    <div class="invoicePrice"><app-head-line [variant]="'h3'" [text]="'£ 1,800.90'"></app-head-line></div>
<!--    <app-badge [status]="invoice.status"></app-badge>-->


  </div>
</div>

