<div class="homeContainer">
  <div class="homeLeft">
    <div class="homeLeftTop">
      <div class="homeTextTop">Welcome to the</div>
      <div class="homeTextDown">Frontend Quiz!</div>
    </div>
    <div class="homeLeftDown">
      <div class="homeLeftDownText">Pick a subject to get started.</div>
    </div>
  </div>
  <div class="homeRight">
<!--    <app-button-component-->
<!--      [buttonType]="'HTML'"-->
<!--      (buttonClicked)="handleButtonClick($event)">-->

<!--    </app-button-component>-->
    <div>
      <button class="dynamicButton">
        <img src="assets/images/headerTitleLogo.svg" class="dynamicButtonLogo">
        <span class="dynamicButtonText">Accessibility</span>

      </button>
    </div>



  </div>
</div>

