<div class="quizCompletePanel">
  <div class="quizCompleteLeft">
    <div class="quizCompleteText">
      <span>Quiz completed</span>
      <span class="bold">You scored...</span>
    </div>
  </div>
  <div class="quizCompleteRight">
    <div class="scoreBoard">
      <div class="scoreBoardTitle">
        <img *ngIf="quizIcon" [src]="quizIcon" [alt]="quizTitle + ' icon'" class="quiz-icon">
        <h2>{{ quizTitle }}</h2>
      </div>
      <div class="scoreBoardScore">{{ correctAnswersCount }}</div>
      <div class="scoreBoardTotal">out of {{ totalQuestions }}</div>
    </div>
    <button>Play Again</button>
  </div>
</div>
