.quizCompletePanel{
  display: flex;
  justify-content: space-between;
  width: 1157px;
  height: 512px;
}
.quizCompleteLeft{
  width: 450px;
  height: 150px;
}
.quizCompleteRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 564px;
  height: 100%;
}
.scoreBoard{
  width: 564px;
  height: 388px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
}
.scoreBoardTitle{
  margin-top: 48px;
  display: flex;
}
.scoreBoardScore{
  font-size: 144px;
  font-weight: 400;
  font-family: Rubik, sans-serif;
  color:#313E51;
}
.scoreBoardTotal{
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 48px;
  color: #626C7f;
}
button{
  width: 100%;
  height: 92px;
  background-color: #A729F5;
  color: white;
  border: none;
  border-radius: 24px;
  font-family: Rubik, sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.quizCompleteText{
  font-family: Rubik, sans-serif;
  font-size: 62px;
  color: #313E51;
  font-weight: 200;
}
.quizCompleteText span {
  display: block;
}
.bold{
  font-weight: bold;
}
h2{
  font-family: Rubik, sans-serif;
  margin-left: 24px;
  font-size: 28px;
}
