<!--<div class="quizCompletePanel">-->
<!--  <div class="quizCompleteLeft">-->
<!--    <div class="quizCompleteText"><span style="font-family:Rubik, sans-serif;font-size: 64px;color: var(&#45;&#45;DarkNavy);font-weight: 100">Quiz completed</span><span style="font-family:Rubik, sans-serif;font-size: 64px;color: var(&#45;&#45;DarkNavy);font-weight: 400">You scored...</span></div>-->
<!--  </div>-->
<!--  <div class="quizCompleteRight">-->
<!--    <div class="scoreBoard">-->
<!--      <div class="scoreBoardTitle"><img [src]="quizIcon" alt="{{ quizTitle }} icon" class="quiz-icon">-->
<!--        <h2>{{ quizTitle }} Quiz</h2></div>-->
<!--      <div class="scoreBoardScore"> {{ correctAnswersCount }}</div>-->
<!--      <div class="scoreBoardTotal">out of {{ totalQuestions }}</div>-->

<!--      </div>-->

<!--    </div>-->
<!--    <app-button-component></app-button-component>-->

<!--  </div>-->

<!--</div>-->
