<div class="layoutPanel">
<!--  <div class="layoutLeftPanel">-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </div>-->

<!--  <div class="layoutContent">-->
<!--    <router-outlet></router-outlet>-->

<!--    &lt;!&ndash; Side Drawer &ndash;&gt;-->
<!--    <div class="sideDrawer" *ngIf="isDrawerOpen">-->
<!--      <ng-container [ngSwitch]="activeDrawer">-->
<!--        <app-new-invoice *ngSwitchCase="'newInvoice'"></app-new-invoice>-->
<!--        <app-form *ngSwitchCase="'editInvoice'"></app-form>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Overlay &ndash;&gt;-->
<!--  <div class="side-drawer-overlay" *ngIf="isDrawerOpen" (click)="closeDrawer()"></div>-->
</div>
