@media (min-width: 960px) {
  .invoiceHeader{
    width: 100%;
    height: 59px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .invoiceHeaderLeft{
    height: 59px;
    width: 155px;
    display: flex;


  }
  .invoiceHeaderRight{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .invoiceFilter{
    width: 118px;
    height: 59px;
    background-color: white;
  }
}
