<div class="invoiceHeader">
  <div class="invoiceHeaderLeft">
    <div class="invoiceTitle">
      <app-head-line [variant]="'h1'" [text]="'Invoices'"></app-head-line>
    </div>
    <div class="invoiceCount">

    </div>
  </div>
  <div class="invoiceHeaderRight">
    <div class="invoiceFilter">
      <app-filter (filterChange)="onFilterChange($event)"></app-filter>
    </div>
    <div class="newInvoice">
          <app-button variant="new-invoice">New Invoice</app-button>
    </div>
  </div>

</div>
