<div class="signUpPanel">
  <div class="signUpPanelInner">
    <div class="signUpPanelLeft">
      <app-status-panel [activeStep]="activeStep"></app-status-panel>
    </div>
    <div class="signUpPanelRight">
      <div class="signUpPanelRightTop">
        <router-outlet></router-outlet>
      </div>
      <div class="signUpPanelRightDown">
        <button (click)="prevStep()" [disabled]="activeStep === 1" class="goBack">Go Back</button>
        <button (click)="nextStep()" [disabled]="activeStep === 4" class="next">Next Step</button>
      </div>
    </div>
  </div>
</div>
