<!-- sign-up.component.html -->
<div class="signUpPanel">
  <div class="signUpPanelInner">
    <div class="signUpPanelLeft">
      <app-status-panel [activeStep]="activeStep"></app-status-panel>
    </div>
    <div class="signUpPanelRight">
      <div class="signUpPanelRightTop">
        <router-outlet></router-outlet>
        <app-summary *ngIf="activeStep === 4" [formData]="formData"></app-summary>
      </div>
      <div class="signUpPanelRightDown">
        <button (click)="prevStep()" [disabled]="activeStep === 1" class="goBack">Go Back</button>
        <button (click)="nextStep()" class="next">{{ nextButtonText }}</button>
      </div>
    </div>
  </div>
</div>
