
<div class="editPanel">

  <div class="editPanelRight">
    <div class="editId">
      <app-head-line
        [variant]="'h1'"
        [text]="'Edit #XM9141'"
        [color]="'--base-black'"
      >
      </app-head-line>
    </div>
    <div class="editPanelContent"><form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="editBillForm">
        <app-head-line
          [variant]="'h4'"
          [text]="'Bill From'"
          [color]="'--primary-color'"
        ></app-head-line>
        <div class="editAddress">
          <div class="streetAddress">
            <app-text
              [variant]="'body1'"
              [text]="'Street Address'"
              [color]="'--tertiary'"
            ></app-text>
            <input type="text" formControlName="streetAddress" class="streetAddressInput" />
            <div *ngIf="f['streetAddress'].invalid && f['streetAddress'].touched" class="error-message">
              Street Address is required.
            </div>

          </div>
          <div class="locationAddress">
            <div class="city">
              <app-text
                [variant]="'body1'"
                [text]="'City'"
                [color]="'--tertiary'"
              ></app-text>
              <input type="text" formControlName="city" class="cityInput" />
              <div *ngIf="f['city'].invalid && f['city'].touched" class="error-message">
                <!-- Error Message -->
              </div>
            </div>
            <div class="city">
              <app-text
                [variant]="'body1'"
                [text]="'Post Code'"
                [color]="'--tertiary'"
              ></app-text>
              <input type="text" formControlName="postCode" class="postCodeInput" />
            </div>
            <div class="city">
              <app-text
                [variant]="'body1'"
                [text]="'Country'"
                [color]="'--tertiary'"
              ></app-text>
              <input type="text" formControlName="country" class="Country" />
            </div>
          </div>
        </div>
      </div>

      <div class="editBillTo">
        <app-head-line
          [variant]="'h4'"
          [text]="'Bill To'"
          [color]="'--primary-color'"
        ></app-head-line>
        <div class="editAddress">
          <div class="clientName">
            <app-text
              [variant]="'body1'"
              [text]="'Client’s Name'"
              [color]="'--tertiary'"
            ></app-text>
            <input type="text" formControlName="clientName" class="streetAddressInput" />
          </div>
          <div class="clientEmail">
            <app-text
              [variant]="'body1'"
              [text]="'Client’s Email'"
              [color]="'--tertiary'"
            ></app-text>
            <input type="email" formControlName="clientEmail" class="streetAddressInput" />
          </div>
          <div class="clientStreetAddress">
            <app-text
              [variant]="'body1'"
              [text]="'Street Address'"
              [color]="'--tertiary'"
            ></app-text>
            <input type="text" formControlName="clientStreetAddress" class="streetAddressInput" />
          </div>
          <div class="locationAddress">
            <div class="city">
              <app-text
                [variant]="'body1'"
                [text]="'City'"
                [color]="'--tertiary'"
              ></app-text>
              <input type="text" formControlName="clientCity" class="cityInput" />
            </div>
            <div class="city">
              <app-text
                [variant]="'body1'"
                [text]="'Post Code'"
                [color]="'--tertiary'"
              ></app-text>
              <input type="text" formControlName="clientPostCode" class="postCodeInput" />
            </div>
            <div class="city">
              <app-text
                [variant]="'body1'"
                [text]="'Country'"
                [color]="'--tertiary'"
              ></app-text>
              <input type="text" formControlName="clientCountry" class="Country" />
            </div>
          </div>
        </div>
      </div>

      <div class="dateTermsDescription">
        <div class="dateTerms">
          <div class="payment">
            <app-text
              [variant]="'body1'"
              [text]="'Invoice Date'"
              [color]="'--tertiary'"
            ></app-text>
            <app-date-picker >
            </app-date-picker>
          </div>
          <div class="date">
            <app-text
              [variant]="'body1'"
              [text]="'Payment Terms'"
              [color]="'--tertiary'"
            ></app-text>
            <app-payment-terms formControlName="paymentTerms"></app-payment-terms>
          </div>
        </div>
        <div class="description">
          <app-text
            [variant]="'body1'"
            [text]="'Project Description'"
            [color]="'--tertiary'"
          ></app-text>
          <input type="text" formControlName="projectDescription" class="streetAddressIn" />
        </div>
      </div>

      <div class="itemList">
        <app-head-line
          [variant]="'h2'"
          [text]="'Item List'"
          [color]="'--grey-color-dark'"
        ></app-head-line>
        <div class="itemDivision">
          <div class="itemName">
            <app-text
              [variant]="'body1'"
              [text]="'Item Name'"
              [color]="'--tertiary'"
            ></app-text>
            <input type="text" formControlName="itemName" id="itemName" />
          </div>
          <div class="itemQuantity">
            <app-text
              [variant]="'body1'"
              [text]="'Qty.'"
              [color]="'--tertiary'"
            ></app-text>
            <input type="number" formControlName="itemQuantity" id="itemQuantity" />
          </div>
          <div class="itemPrice">
            <app-text
              [variant]="'body1'"
              [text]="'Price'"
              [color]="'--tertiary'"
            ></app-text>
            <input type="number" formControlName="itemPrice" id="itemPrice" />
          </div>
          <div class="itemTotal">
            <app-text
              [variant]="'body1'"
              [text]="'Total'"
              [color]="'--tertiary'"
            ></app-text>
            <div class="delete">
              <app-head-line
                [text]="'156.00'"
                [variant]="'h4'"
                [color]="'--tertiary'"
              ></app-head-line>
              <img src="assets/images/icon-delete.svg" />
            </div>
          </div>
        </div>
        <app-button [variant]="'add-new-item'">+ Add New Item</app-button>
      </div>
    </form>


    </div>
    <div class="editButtons">
      <app-button [variant]="'cancel'" (onClick)="handleEdit()">Cancel</app-button>
      <app-button [variant]="'save-changes'" (onClick)="onSubmit()">Save Changes</app-button>
    </div>
  </div>
</div>

