.form-control{
  /*background-color: #EC5757;*/
    /*display: grid;*/
    /*gap: 0.2rem;*/
    margin-bottom: 1rem;
}
.form-control input{
    width: 98%;
  height: 40px;
    /*padding: 1rem;*/
    border-radius: .3rem;
    border: 1px solid var(--grey);
    color: var(--base-black);
    font-size: 1rem;
    font-weight: 700;
    outline: none;
  background-color: var(--input);
    transition: all .2s ease-in-out;
}

.form-control input:hover{
    /*border: 1px solid var(--primary-hover);*/
    cursor: pointer;
}
.form-control input:focus{
    border: 1px solid var(--primary);
}
.form-control input::placeholder{
    opacity: .5;
}

.form-control input.is-invalid {
    border-color: var(--error) !important;
}


.error-message {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.25rem;
 }
