<div *ngFor="let option of options; let i = index" class="optionsButton">
  <input
    type="radio"
    [id]="'option' + i"
    name="quizOption"
    [value]="option"
    [(ngModel)]="selectedOption"
    (change)="selectOption(option)"
    [disabled]="isSubmitted"
  />

  <label [for]="'option' + i" style="display: flex; justify-content: start; align-items: center;">
    <div class="indexPanel">
      <span class="index">{{ getAlphabet(i) }}</span>
    </div>
    <span class="options"
          [ngClass]="{
            'border-green-500': optionStyles[option] === 'border-green-500',
            'border-red-500': optionStyles[option] === 'border-red-500'
          }">
      {{ option }}
    </span>
  </label><br>

</div>
<div>
  <button
    *ngIf="!isSubmitted"
    (click)="submitAnswer()"
    class="quiz-button">
    Submit Answer
  </button>

  <button
    *ngIf="isSubmitted"
    (click)="moveToNextQuestion()"
    class="quiz-button">
    Next Question
  </button>
</div>
