.editScreen{
  height: 100vh;
  width: 100vw;
  background-color: #EC5757;
}
.editPanel{
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 719px;
  background-color: white;
  display: flex;
}
.editPanelLeft{
  width:103px;
height: 100%;
}
.editPanelRight{
  width: 616px;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editId{
  width: 504px;
}

.billForm{
  width: 504px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.editBillTo{
  width: 504px;
  height: 409px;
}
.editAddress{
  width: 504px;
  height: 170px;
}
.streetAddress{
  width: 100%;
  height: 73px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.streetAddressInput{
  width: 504px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--grey);
}
.locationAddress{
  width: 504px;
  display: flex;
  justify-content: space-between;
}
.cityInput,
.Country, .postCodeInput{
  width: 152px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--grey);
}
.dateTermsDescription{
  width: 504px;
height: 170px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.description{
width: 100%;
height: 73px;
}
.dateTerms{
  display: flex;
  justify-content: space-between;
width: 504px;
height: 73px
}
