
<div class="editScreen">
  <div class="editPanel">
    <div class="editPanelLeft"><app-sidebar></app-sidebar></div>
    <div class="editPanelRight">
      <div class="editId">
        <app-head-line
        [variant]="'h1'" [text]="'Edit #XM9141'" [color]="'--base-black'">
        </app-head-line>
      </div>
      <div class="editBillForm">
        <app-head-line [variant]="'h4'" [text]="'Bill From'" [color]="'--primary-color'"></app-head-line>
        <div class="editAddress">
          <div class="streetAddress">
            <app-text [variant]="'body1'" [text]="'Street Address'" [color]="'--tertiary'"></app-text>
            <input
            type="text"
            class="streetAddressInput"/>
          </div>
          <div class="locationAddress">
            <div class="city">
              <app-text [variant]="'body1'" [text]="'City'" [color]="'--tertiary'"></app-text>
              <input
                type="text"
                class="cityInput"/>
            </div>
            <div class="city">
              <app-text [variant]="'body1'" [text]="'Post Code'" [color]="'--tertiary'"></app-text>
              <input
                type="text"
                class="postCodeInput"/>
            </div>
            <div class="city">
              <app-text [variant]="'body1'" [text]="'Country'" [color]="'--tertiary'"></app-text>
              <input
                type="text"
                class="Country"/>
            </div>
          </div>

        </div>
      </div>
      <div class="editBillTo">
        <app-head-line [variant]="'h4'" [text]="'Bill To'" [color]="'--primary-color'"></app-head-line>
        <div class="editAddress">
          <div class="clientName">
            <app-text [variant]="'body1'" [text]="'Client’s Name'" [color]="'--tertiary'"></app-text>
            <input
              type="text"
              class="streetAddressInput"/>
          </div>
          <div class="clientEmail">
            <app-text [variant]="'body1'" [text]="'Client’s Email'" [color]="'--tertiary'"></app-text>
            <input
              type="text"
              class="streetAddressInput"/>
          </div>
          <div class="clientStreetAddress">
            <app-text [variant]="'body1'" [text]="'Street Address'" [color]="'--tertiary'"></app-text>
            <input
              type="text"
              class="streetAddressInput"/>
          </div>
          <div class="locationAddress">
            <div class="city">
              <app-text [variant]="'body1'" [text]="'City'" [color]="'--tertiary'"></app-text>
              <input
                type="text"
                class="cityInput"/>
            </div>
            <div class="city">
              <app-text [variant]="'body1'" [text]="'Post Code'" [color]="'--tertiary'"></app-text>
              <input
                type="text"
                class="postCodeInput"/>
            </div>
            <div class="city">
              <app-text [variant]="'body1'" [text]="'Country'" [color]="'--tertiary'"></app-text>
              <input
                type="text"
                class="Country"/>
            </div>
          </div>

        </div>
      </div>
      <div class="dateTermsDescription">
        <div class="dateTerms">
          <app-payment-terms></app-payment-terms>
        </div>
        <div class="description">
          <div class="streetAddress">
            <app-text [variant]="'body1'" [text]="'Project Description'" [color]="'--tertiary'"></app-text>
            <input
              type="text"
              class="streetAddressInput"/>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
