/* form */
form{
  width: 100% ;
}
.section__title{
  color: var(--primary);
  font-size: 1.125rem;
  padding-bottom: .5rem;
}
.row{
  display: flex;
  justify-content: center;
  gap: .5rem;
}
.row app-text-field {
  flex: 1;
}

.date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
}
.date app-date-picker, .date app-drop-down{
  flex: 1;
}

/* form end */
.items-title{
  margin-bottom: 1rem;
  color: var(--deep-grey);
  font-size: 1.125rem;
  font-weight: bold;
}
.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.quantity{
  width: 4rem;
}
.price{
  width: 6.25rem;
}

.item-table th,
.item-table td {
  padding-right: 10px;
  text-align: left;
}

.item-table th {
  color: #5c5f7c;
  font-size: 14px;
}

.item-table td input {
  width: 100%;
  padding: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  font-size: 14px;
}

.item-table td input:focus {
  border-color: #7d5efc;
  outline: none;
  box-shadow: 0 0 5px rgba(125, 94, 252, 0.4);
}

.items__remove {
  background: none;
  border: none;
  cursor: pointer;
}
.add-item {
  width: 100%;
  background-color: var(--grey-light);
  color: var(--tertiary);
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}


.form-actions {
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
.save-actions{
  display: flex;
  gap: 1rem;
}
.discard,
.save-as-draft,
.save-and-send {
  background: var(--grey-light);
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 1.5rem;
  color: var(--tertiary);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.save-as-draft{
  background: var(--secondary);
  color: #fff;
}
.save-as-draft:hover{
  background: var(--secondary-light);
  cursor: pointer;
  color: var(--tertiary);
}
.save-and-send{
  background: var(--primary);
  color: #fff;
}
.save-and-send:hover{
  background: var(--primary-hover);
}
.error{
  color: var(--error);
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}



