<div class="sidebarPanel">
  <div class="sidebarTop">
    <app-icon class="logoDesktop" [name]="'logo'"></app-icon>
    <app-icon class="logoTablet" [name]="'logoTab'"></app-icon>
    <app-icon class="logoMobile" [name]="'logoTab'"></app-icon>


  </div>
  <div class="sidebarDown">
    <app-theme-toggle></app-theme-toggle>
    <app-icon [name]="'Oval'"></app-icon>
  </div>

  <div class="sidebarDownTablet">
    <app-theme-toggle></app-theme-toggle>
    <div class="icon">
      <app-icon [name]="'Oval'"></app-icon>

    </div>
  </div>

</div>
