
<div class="addOnsPanel">
  <div class="planDetail">
    <div class="planTitle">Finishing up</div>
    <div class="planInfoInfo">Double-check everything looks OK before confirming.</div>
  </div>
  <div class="summaryDetail">
    <div class="summaryDetailTop">
      <div class="planSelected">
        <div class="planSelectedLeft">
          <div class="planSelectedTitle">Arcade (Monthly)</div>
          <div class="planSelectedChange">Change</div>

        </div>
        <div class="planSelectedRight">$9/mo</div>

      </div>
      <div class="selectedAddOns">
          <div class="selectedAddOnsTitle">Online service</div>
          <div class="selectedAddOnsAmount">+$1/mo</div>
      </div>
        <div class="selectedAddOns">
            <div class="selectedAddOnsTitle">Online service</div>
            <div class="selectedAddOnsAmount">+$1/mo</div>
        </div>

    </div>
    <div class="summaryDetailDown">
        <div class="summaryDetailTitle">Total (per month)</div>
        <div class="summaryDetailPrice">+$12/mo</div>

    </div>

  </div>
</div>
