<div class="layoutPanel">
  <div class="layoutLeftPanel"><app-sidebar></app-sidebar></div>

  <div class="layoutContent">
<!--    <app-button variant="new-invoice">New Invoice</app-button>-->
<!--    <app-button variant="delete">Delete</app-button>-->
<!--    <app-button variant="edit">Edit</app-button>-->
<!--    <app-button variant="marked-as-paid">Marked as Paid</app-button>-->
    <app-button variant="save-as-draft">Save as Draft</app-button>
<!--    <app-button variant="add-new-item">Add New Item</app-button>-->
  </div>
</div>
