<div class="layoutPanel">
  <div class="layoutLeftPanel">
    <app-sidebar></app-sidebar>
  </div>

  <div class="layoutContent">
    <app-delete-invoice></app-delete-invoice>
<!--    <app-invoice-->
<!--      *ngIf="showInvoiceList"-->
<!--      (viewInvoice)="displayViewInvoice($event)">-->
<!--    </app-invoice>-->

<!--    <app-view-invoice-->
<!--      *ngIf="!showInvoiceList"-->
<!--      [invoice]="selectedInvoice"-->
<!--      (back)="goBackToInvoiceList()">-->
<!--    </app-view-invoice>-->
<!--  </div>-->
</div>
