@media (max-width: 600px) {
  /* Small devices */
  .layoutPanel {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .layoutLeftPanel {
    height: 72px;
    width: 100%;
  }
  .layoutRightPanel {
    height: 100%;
    width: 100%;
    background-color: var(--grey-color-dark);
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .layoutPanel {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .layoutLeftPanel {
    height: 80px;
    width: 100%;
    background-color: var(--grey);
  }
  .layoutRightPanel {
    height: 100%;
    width: 100%;
    background-color: var(--grey-color-dark);
  }
}

@media (min-width: 960px) {
  .layoutPanel {
    align-items: center;
    height: 100vh;
    width: 100%;
    display: flex;
    /*background-color:var(--light-BG) ;*/
  }
  .layoutLeftPanel {
    height: 100%;
    width: 103px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

  }
  .layoutContent{
    height: 700px;
    width: 790px;
    margin-left: 20%;
    border: solid 1px var(--grey-color-dark);
  }


}
